
        
        body {
            text-align: center;
        }
        
        .ui-button,
        .ui-button-text .ui-button {
            font-size: 10px !important;
        }
        /* nav i-bar */
        
        #sb-site {
            background-color: #EFEFEF;
        }
        
        .navicon-line {
            width: 24px;
            height: 4px;
            border-radius: 1px;
            margin-bottom: 3px;
            background-color: #FFFFFF;
        }
        
        .top-bar-block {
            display: inline-block;
            color: white;
            font-style: italic;
            font-family: Georgia, serif;
        }
        
        #menubar {
            position: absolute;
            left: 10px;
        }
        
        #menu .ui-selecting {
            background: #FECA40;
        }
        
        #menu .ui-selected {
            background: #F39814;
            color: white;
        }
        
        #menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
        #menu li {
            margin: 3px;
            padding: 0.4em;
            font-size: 1em;
            height: 18px;
        }
        
        #menupane {
            width: 120px;
        }
        
        #top-bar {
            background-color: #15AFC9;
        }
        /* general */
        
        .setting-category {
            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            background-color: yellow;
        }
        
        .setting-subcategory {
            background-color: lightgoldenrodyellow;
        }
        
        #settings-p,
        #automation-p,
        #sensors-p,
        #about-p,
        #top-bar {
            margin: auto;
            padding: 10px;
            width: 100%
        }
        
        #status-p {
            margin: auto;
            width: 100%
        }
        
        #about-p {
            text-align: left;
        }
        
        ul {
            text-align: left;
        }
        
        .tmp_unit {
            font-family: Tahoma, Geneva, sans-serif;
        }
        
        .editbtn {
            height: 20px;
        }
        
        .section {
            font-size: 18px;
            font-weight: bold;
        }
        
        table {
            border-collapse: collapse;
        }
        
        table,
        tr,
        td,
        th {
            margin: auto;
            border: 1px solid black;
        }
        /* automation progress */
        
        #auto-t tr,
        #auto-t td,
        #auto-t th {
            border: 0px;
            font-weight: bold
        }
        
        #auto-p td {
            text-align: left;
        }
        
        .running {
            font-size: 1.2em;
            color: red;
            background-color: yellow;
        }
        
        .run {
            color: #BDBDBD;
            font-weight: normal;
        }
        
        .label {
            font-family: "Courier New", Courier, monospace;
            font-size: 16px;
        }
        
        .inactive-num {
            opacity: 0.2;
        }
        
        #auxT {
            display: none;
        }
        /* pwm */
        /* LED */
        
        .ledreddim {
            background: #5B0000;
        }
        
        .ledgreendim {
            background: #01290C;
        }
        
        .round-led-circle {
            width: 36px;
            height: 0;
            padding-bottom: 36px;
            border-radius: 50%;
            border-style: outset;
            overflow: hidden;
            display: inline-block;
        }
        
        span.round-led {
            width: 12px;
            height: 12px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            text-decoration: none;
        }
        
        a {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }
        
        #status-p table,
        #status-p tr,
        #status-p td {
            border: 0px;
            margin: 0px;
        }
        
        #ctrlpanel {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            background-color: #C0C0C0;
        }
        
        table .ledpanel {
            text-align: center;
            width: 100%;
        }
        
        #btnpanel {
            width: fit-content;
            height: fit-content;
            position: relative;
        }
        
        #btnpanel td {
            width: 25%;
        }
        
        #btngap {
            height: 5px;
        }
        
        #btncover {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background-color: #FFF;
            border-radius: 0px 0px 6px 6px;
            opacity: 0.6;
        }
        
        .round-button-circle {
            width: 52px;
            height: 0;
            padding-bottom: 52px;
            border-radius: 50%;
            border-style: groove;
            overflow: hidden;
            background: #AA2222;
            margin: 2px;
        }
        
        a.round-button {
            width: 52px;
            height: 52px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            color: #CCCCCC;
            font-weight: bold;
            text-decoration: none;
            font-size: 8pt;
        }
        
        #info {
            text-align: center;
            color: red;
            font-weight: bold;
            font-family: "Courier New", Courier, monospace;
            background-color: rgba(230, 230, 0, .5);
            padding: 4px;
            height: 20px;
            width: 100%;
            display: none;
            position: absolute;
            z-index: 1000;
        }
        
        #auto-p table,
        #auto-p tr {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            border: 2px;
            border-style: groove;
        }
        
        #sensors {
            display: none;
        }
        
        #auxledcon {
            display: none;
        }
        /* network setup */
        
        #network-p table,
        #network-p tr,
        #network-p td {
            border: 0px;
        }
        
        #passmatch {
            color: red;
        }
        
        #saveok {
            color: blue;
            font-style: italic;
        }
        
        #savefail {
            color: red;
            font-weight: bold;
        }
        /* utility */
        
        fieldset.commonset {
            display: inline-block;
        }
        
        fieldset {
            margin: 10px;
            display: inline-block;
        }
        
        fieldset th {
            text-align: right;
        }
        
        fieldset td {
            text-align: left;
        }
        
        .eventaudio {
            display: none;
        }
        /* blocks */
        
        .block {
            background: white;
            margin: 4px;
            padding: 0px 0px 2px 0px;
        }
        
        .block-size-1 {
            width: 76px;
            height: 70px;
        }
        
        .block-size-2 {
            width: 160px;
            height: 70px;
        }
        
        #auto-p,
        #controller-pan {
            width: 260px;
        }
        
        #state-block {
            width: 160px;
            height: 70px;
        }
        
        .block-header {
            background: #d8e9f5;
            display: block;
            padding: 2px 4px 2px 2px;
            margin: 0px 0px 2px 0px;
            height: 20px;
        }
        
        .block-title {
            text-align: left;
            font-size: smaller;
            float: left;
        }
        
        .block-ctrl {
            float: right;
        }
        
        .block-size-2 .block-body {
            font-size: 32px;
            font-weight: bold;
            font-family: monospace;
        }
        
        #temp-block-2,
        #temp-block-3,
        #temp-block-4,
        #temp-block-5 {
            display: none;
        }
        
        .primary-sensor .block-title::before {
            content: "*";
        }
        
        .primary-sensor .block-title::after {
            content: "*";
        }
        
        .primary-sensor .block-title {
            font-weight: bold;
            color: blue;
        }
        
        #blockgroup {
            padding: 10px;
        }
        
        #dialog-controller table,
        #dialog-controller tr,
        #dialog-controller td,
        #dialog-controller th {
            border: 0px;
            border-collapse: collapse;
        }
